/* Variables */
:root {
    --dark-gray: #181818;
    --white: #FFFFFF;
    --orange: #FFAA4C;
    --green: #2FDBBC;
    --purple: #A64CED;
    --light-gray: #F5F5F5;
}

/*Fonts*/
@font-face {
    font-family: "Outfit_Bold";
    src: url("assets/fonts/Outfit-Bold.woff") format('woff');
}
@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/Outfit-Regular.woff") format('woff');
}
@font-face {
    font-family: "Outfit_SemiBold";
    src: url("assets/fonts/Outfit-Regular.woff") format('woff');
}

/* Common elements styles*/
.body {
    background-color: var(--dark-gray);
    color: var(--white);
    font-family: Outfit, sans-serif;
    letter-spacing: 0;
    overflow-x: hidden;
}
.button:hover {
    cursor: pointer;
}
.h1 {
    font-family: Outfit_Bold, sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 102px;
    text-align: left;
    margin-bottom: 0;
}
.h2 {
    font-family: Outfit_Bold, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 20px;
}
.button_contact {
    background-color: var(--purple);
    border-radius: 16px;
    border: none;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    width: 182px;
    height: 57px;
}
.section {
    margin-bottom: 100px;
}


/* Header*/
.header__mode {
    background-color: var(--orange);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 60px;
}
.mode__button {
    background-color: var(--orange);
    border-radius: 20px 20px 0 0;
    color: var(--dark-gray);
    border: none;
    padding: 9px 37px;
}
.mode__button_active {
    background-color: var(--dark-gray);
    color: var(--white);
}
.header__logobox {
    display: flex;
    flex-direction: row;
    padding: 0 60px;
    justify-content: space-between;
}
.logobox__logo {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.logo_pic {
    max-height: 29px;
}
.logo__text {
    font-size: 37px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    padding-top: 18px;
    margin-left: -3px;
}
.logomenu__button {
    margin-top: 7px;
}

/* Section Hero*/
.section__article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.article_hero {
    column-gap: 330px;
}
.article__content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 671px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}
.article__images {
    max-height: 529px;
    z-index: -1;
}
.article__image {
    position: absolute;
    top: 203px;
    right: 0;
}
.image_woman {
    top: 178px;
    right: 77px;
}
.content__text {
    margin-bottom: 25px;
    padding-right: 25px;
}

/*Section About*/
.article_about {
    display: flex;
    flex-direction: column;
    margin: 150px 60px;
    row-gap: 20px;
}
.article__table {
    margin-top: 55px;
    display: grid;
    grid-template: repeat(2, 1fr) / 525px 1fr 1fr;
}
.table__block_intro {
    font-family: Outfit_SemiBold, serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    text-align: left;
    max-width: 410px;

}
.table__block {
 max-height: 360px;
}
.table__block_common {
    font-family: Outfit, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    max-width: 335px;
    max-height: 360px;
}
.block_header {
    font-family: Outfit_Bold, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 51px;
    text-align: left;
    margin: 0 0 20px;
}
.table__block_image {
    position: relative;
    left: -60px;
    bottom: 80px;
}

/* Section Howworks*/
.section_howworks {
    height: 636px;
    padding-top: 8px;
    margin-bottom: 92px;
}
.howworks__img {
    margin: 0 calc(50% - 154px);
    position: absolute;
}
.howworks__bg {
    width: 2088px;
    height: 100%;
    z-index: -1;
    font-family: Outfit_Bold, serif;
    font-size: 128px;
    font-weight: 700;
    line-height: 136px;
    letter-spacing: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.bg__line {
    height: 136px;
    width: 2088px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 25px 0;
}
.line__text_hollow {
    color: transparent;
    -webkit-text-stroke: 1px #444444;
;
}
.line__text_orange {
    color: var(--orange)
}
.line__text_green {
    color: var(--green)
}
.line__text_purple {
    color: var(--purple)
}

/* Section WhyBudss */
.section_whybudss {

}
.whybudds__reasons {
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
    padding: 5px 320px 5px 353px;
    align-content: flex-start;
}
.reason__header {
    font-family: Outfit_Bold, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
    margin-top: 40px;
    margin-bottom: 12px;
}
.reason__descr {
    font-family: Outfit_SemiBold, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    display: block;
    margin-bottom: 34px;
}
.whybudds__header {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Outfit_SemiBold, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    max-width: 48%;

}

