.body {
    background: lightblue url("assets/slider__bg.png");
    background-blend-mode: soft-light;
}
.slider {
    border-radius: 30px;
    margin: 5vh auto ;
    padding: 50px 20px;
    height: fit-content;
    width: 75vw;
    background: linear-gradient(180deg, rgba(2,0,171,0.46262254901960786) 0%, rgba(221,223,223,1) 83%);
    display: flex;
    flex-direction: column;
}
.slider__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2%;
}
.slider__viewport {
    overflow: hidden;
    display: flex;
    border-radius: 30px;
    margin: 50px auto;
    border: 3px solid white;
    height: 350px;
    width: 300px;
    justify-content: center;
}
.picture {
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.picture_current,
.picture_next,
.picture_prev{
    height: 350px;
    width: 300px;
}
.pictures_film {
    display: flex;
    height: 350px;
    width: 1000px;
}
.slider__nav {
    display: flex;
    justify-content: center;
    column-gap: 5px;
}
.nav__button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #0200AB75;
    transition-duration: .3s;
    border: 2px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.slider__arrow {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    background-color: #0200AB75;
    transition-duration: .3s;
    margin: auto;
    border: 2px solid white;
}
.nav__button:hover,
.slider__arrow:hover {
    transform: scale(1.07);
    cursor: pointer;
}
.nav__button_current {
    transform: scale(1.3);
    background-color: rgba(239, 127, 221, 0.65);
}

.slider__arrow:disabled,
.nav__button:disabled:not(.nav__button_current) {
    background: #b6b5b5;
    cursor: unset;
    transform: none;
}

@media (max-width: 720px) {
    .slider__wrapper {
        flex-wrap: wrap;
    }
    .slider__viewport {
        flex-wrap: nowrap;
        order: 3;
    }
    .slider__arrow {
        margin: 30px 20px 20px;
    }
    .nav__button {
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 650px) {
    .slider__wrapper {
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (max-width: 350px) {
    .slider__arrow {
        margin: 30px auto;
    }
}
